@model IEnumerable<DetailViewModel>
@{
    ViewData["Title"] = "最新商品";
}
@await Component.InvokeAsync("CategoriesList")

<div class="container">
    <div class="row ml-1 justify-content-md-center">
        @foreach (var item in Model)
        {
            //ViewData["Title"] = @Html.DisplayFor(modelItem => item.product.Category.Name);
            <div class="col col-6 col-md-3 ">
                <div class="card h-100 shadow-sm rounded" style="width: 16rem">
                    <img src="@Html.DisplayFor(modelItem => item.imgsrc)" class="card-img-top">
                    <div class="card-body">
                        <h6 class="card-title" style="text-align:center">@Html.DisplayFor(modelItem => item.product.Name)</h6>

                        <p class="card-text overflow-text" style="text-align:center">NT$ &nbsp;@Html.DisplayFor(modelItem => item.product.Price)</p>
                    </div>
                    <a class="stretched-link" asp-action="Details" asp-route-id="@item.product.Id"></a>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex-grow: 0;
        margin: 7px;
        padding: 5px;
    }

    .overflow-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .container {
        max-width: 1140px;
    }
</style>
